Project 1 Guidelines.

Project:
Create a Python application that connects to either a MySQL or MongoDB server,
and performs CRUD operations on a database. The application should model a store,
where users can create accounts, purchase products, and look at a history of their
orders. There should also be an admin feature where the admin should be able to 
see all orders and users. 

    - The application must be able to create, read, update, and delete.
    - Use at least 3 different tables/documents.
    - The application must have a login feature, as well as user/admin roles

Your "store" can be whatever you want (furniture, appliances, movies, etc.). Some 
admin features that you may want to implement: modifying inventory, removing/editing users,
granting admin access to specific users...

Tech Stack:
    Python 3.x
    VS Code
    MySQL / MongoDB
    Git

Presentation:
    We will present our projects the morning of August 5, 2022.
    Short ~5 minute demonstration of all the functionalities of your project.
    Please create a short slide show that explains the project and tech stack.
    The bulk of the presentation will be demonstrating the application itself.

Other things of note:
    This is an individual assignment, no groups.
    You will be expected to back up your project using GitHub in case of any system crashes or data loss.
    
    Use these Git commands frequently:

    git status
    git add .
    git commit -m 'message'
    git push

Proposal:
    I will meet with you individually on Friday, July 29, 2022 to go over your idea of your project.